@import '~theme/index';

body {
  background: @background-color-base;
}
.container {
  padding: 0 8px;
  padding-bottom: 32px;
  background: @background-color-base;
  @apply flex flex-col;
}

.buttonGroup {
  @apply sticky top-0 z-50 flex justify-between;
  padding: 16px 0;
  background: @background-color-base;

  .deviceManage,
  .operator {
    @apply: flex;
    & > * {
      @apply ml-4;
    }
  }
}
.content {
  @apply flex-1;
}
.cardHeader {
  @apply flex;
  .cardTitle {
    width: 100%;
    @apply ml-3 flex justify-between items-center;
    .status {
      @apply flex;

      .edit {
        @apply cursor-pointer ml-3;
      }
    }
  }
}
.operatorButton {
  width: 50%;
  @apply text-center cursor-pointer;
}
