@import '~theme/index';

.container {
  background: @background-color-base;

  @apply h-screen;
}

.buttonGroup {
  padding: 16px 0;
  & > * {
    @apply ml-4;
  }
}

.content {
  margin-bottom: 8px;
}

.link {
  color: @primary-color;
  @apply ml-2;
}

.img {
  width: 500px;
  @apply mb-8;
}
.card {
  @apply mt-4;
  @apply w-80;
}
.czzList {
  @apply flex;
  @apply flex-wrap;
}
.infoCard {
  @apply w-40;
  @apply h-20;
  @apply bg-blue-100;
  @apply rounded-lg;
  .operator {
    @apply flex;
    @apply flex-wrap;
  }
}
