@import '~theme/index';

.container {
  background: @background-color-base;

  @apply h-screen;
}

.buttonGroup {
  @apply h-8;
  @apply flex;
  @apply py-4;
  & > * {
    @apply ml-4;
  }
}

.content {
  margin-bottom: 8px;
}

.link {
  color: @primary-color;
  @apply ml-2;
}

.img {
  width: 500px;
  @apply mb-8;
}
.card {
  @apply mt-4;
  @apply w-80;
}
