.container {
  @apply flex  flex-col justify-center items-center;
  width: 100%;
  height: 600px;
  .title{
    line-height: 3;
    font-size: 24px;

  }
  .formContent {
    width: 300px;
    height: 100px;
  }
  .buttonGroup {
    @apply flex justify-end w-72;
  }
}
